<!DOCTYPE html>

<html lang="{{ $.Site.LanguageCode | default "en" }}">
	<head>
		<title>{{ .Title}} | {{ .Site.Title }}</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="/images/icon.png" rel="icon">
		
		<link href="/styles/mvk.css" rel="stylesheet" id="main-stylesheet">
		
		{{ if .IsHome }}
			<script type="module">
				import * as lwr from "https://ring.bruh.ltd/scripts/libwebring.js";
				
				const ring = new lwr.Ring("https://ring.bruh.ltd/data/ring.json");
				
				ring.fetch().then(() => {
					ring.install("https://mvk.bruh.ltd/");
				});
			</script>
		{{ end }}
	</head>
	
	<body {{ if .IsHome }} class="home" {{ end }}>
		<div class="page-wrapper">
			<header><div class="content">
				<div class="site-title">
					{{ if ne . .Site.Home }}<a href="/">{{ end }}
						<img src="/images/logo.png" class="logo">
					{{ if ne . .Site.Home }}</a>{{ end }}
					Между<a id="lwr-next">н</a>ародный аэро<a id="lwr-prev">п</a>орт Малиновка
				</div>
			</div></header>
			
			<nav><div class="content">
				{{ $thisPage := . }}
				
				{{ range .Site.Home.Pages.ByParam "weight" }}
					{{ if ne . .Site.Home }}
						{{ if eq . $thisPage }}
							<a class="selected">{{ .Title }}</a>
						{{ else }}
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						{{ end }}
					{{ end }}
				{{ end }}
			</div></nav>
			
			<main><div class="content">
				<h1>{{ .Title }}</h1>
				
				<div class="metadata">
					{{ partial "date.html" . }}
				</div>
				
				<hr>
				
				{{ if .Page.Params.banner }}
					<img
						src="/images/banners/{{ .Page.Params.banner }}.jpg"
						
						class="banner"
						
						alt="{{ .Page.Params.banner }}"
					>
				{{ end }}
				
				{{ .Content }}
				
				{{ block "after-content" . }} {{ end }}
				
				<div class="ad">
					<a href="https://web.bruh.ltd/"><img src="/images/ad.jpg"></a>
				</div>
			</div></main>
			
			<footer><div class="content">
				<div class="licensing">
					{{ .Site.Data.licensing.copyright }}.
					<a href="{{ .Site.Data.licensing.link }}">Узнать больше</a>.
				</div>
			</div></footer>
		</div>
	</body>
</html> 
