{{ define "after-content" }}
	<div class="links">
		{{ range .Pages }}
			{{ if not .Params.hidden }}
				<article>
					<h2><a href="{{ .RelPermalink }}" class="page">{{ .Title }}</a></h2>
					
					<div class="metadata">
						{{ partial "date.html" . }}
					</div>
					
					<p>{{ .Summary }}</p>
				</article>
			{{ end }}
		{{ end }}
	</div>
{{ end }}
