{{ define "partials/schedule" }}
	<div class="table">
		<table>
			<tr>
				<th width="10%">Время</th>
				<th width="30%">Город</th>
				<th width="15%">Рейс</th>
				<th width="15%">Сектор</th>
				<th width="40%">Статус</th>
			</tr>
			
			{{ range . }}
				<tr>
					<td>{{ .time }}</td>
					<td>{{ .city }}</td>
					<td>{{ .plane }}</td>
					<td>{{ .terminal }}</td>
					<td>{{ .status }}</td>
				</tr>
			{{ end }}
		</table>
	</div>
{{ end }}

{{ define "after-content" }}
	<h2>Вылет</h2>
	
	{{ partial "schedule" (index .Site.Data "plane-schedule" "departures") }}
	
	<h2>Прилёт</h2>
	
	{{ partial "schedule" (index .Site.Data "plane-schedule" "arrivals") }}
{{ end }}
