@charset "utf-8";

@font-face {
	src:
		local("Source Sans Pro"),
		url("/fonts/source-sans-pro.woff2");
	font-family: "Source Sans Pro";
	font-display: swap;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	scrollbar-color: #367499 transparent;
	scrollbar-width: thin;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16pt;
	background: #FFFFFF;
}
body.home {
	background: #C2989C url("/images/background.jpg");
	background-size: cover;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-width: 0;
	align-items: center;
}

.page-wrapper > * {
	display: flex;
	justify-content: center;
	width: 100%;
}

.page-wrapper > * > .content {
	flex-grow: 1;
	min-width: 0;
	max-width: 40em;
	padding: 1em;
}

.page-wrapper > * > .content > *:first-child {
	margin-top: 0;
}

.page-wrapper > * > .content > *:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #367499;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0;
}

hr {
	margin-top: 0.5em;
	border: solid 1px #0000001F;
}

.table {
	overflow: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td, th {
	padding: 0 0.5em;
	border: solid 2px #0000003F;
}
th {
	text-align: center;
}

tr:nth-child(odd) > td {
	background: #0000000F;
}

th {
	background: #0000001F;
}

header, nav {
	color: #FFFFFF;
}

header a, nav a {
	color: inherit;
}

header {
	background: #4CA2D6;
}
body.home header {
	display: flex;
	align-items: center;
	flex-grow: 1;
	background: #000000BF;
}

header > .content {
	max-width: 45em !important;
}

.site-title {
	display: block;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.logo {
	width: 128px;
	height: 64px;
	margin-right: 0.5em;
	vertical-align: -20px;
}

nav {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #4798C9;
	box-shadow: 2px 4px 8px #0000001F;
}
body.home nav {
	background: #000000DF;
}

nav > .content {
	display: flex;
	flex-grow: 0 !important;
	max-width: 100% !important;
	padding: 0 !important;
	white-space: nowrap;
	overflow-x: auto;
}

nav a {
	padding: 0.5em 1em;
	transition: background 0.2s;
}

nav a:hover {
	text-decoration: none;
	background: #0000001F;
}
body.home nav a:hover {
	background: #FFFFFF1F;
}

nav a.selected {
	background: #FFFFFF2F;
}

main {
	flex-grow: 1;
	color: #000000;
}
body.home main {
	display: none;
}

main p, main ol, main ul {
	padding-left: 0;
	text-align: justify;
	text-indent: 2em;
	list-style-position: inside;
}

main .banner {
	display: block;
	margin: 1em 0;
}

main img {
	max-width: 100%;
}

.map {
	width: 100%;
	height: 215px;
	border: none;
}

.metadata {
	font-size: 0.75em;
}

article:not(:last-child) {
	border-bottom: solid 2px #0000000F;
}

article h2 {
	margin: 0.5em 0;
}

.ad {
	position: relative;
	max-width: max-content;
	padding: 1em;
	margin-top: 2em;
	margin-left: auto;
	border: dashed 2px #0000001F;
	border-radius: 8px;
}

.ad::before {
	display: block;
	position: absolute;
	top: -0.9em;
	left: 1em;
	content: "Реклама";
	color: #7F7F7F;
	background: #FFFFFF;
}

.ad img {
	display: block;
}

footer {
	background: #EFEFEF;
	box-shadow: inset 0 4px 8px #0000000F;
}
body.home footer {
	display: none;
}

.licensing {
	font-size: 0.75em;
	opacity: 0.5;
}

#lwr-prev, #lwr-next {
	cursor: inherit !important;
	text-decoration: inherit !important;
	color: inherit !important;
	opacity: 1 !important;
}
