{{ define "after-content" }}
	{{ range .Site.Data.contacts }}
		<h2>{{ .name }}</h2>
		
		<ul>
			{{ range .contacts }}
				<li>
					{{ .name }} -
					<a href="tel:{{ .phone }}">{{ .phone }}</a>
					{{ if .email }}
						- <a href="mailto:{{ .email }}">{{ .email }}</a>
					{{ end }}
				</li>
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
