{{ define "after-content" }}
	<div class="table">
		<table>
			<tr>
				<th width="50%">Отправление</th>
				<th>Прибытие</th>
			</tr>
			
			{{ range (index .Site.Data "hyperzoom-schedule") }}
				<tr>
						<td>{{ .departure }}</td>
						<td>{{ .arrival }}</td>
				</tr>
			{{ end }}
		</table>
	</div>
{{ end }}
